version: '3.8'

services:
  postgres:
    image: postgis/postgis:15-3.3
    container_name: snapp_postgres
    environment:
      POSTGRES_USER: snapp
      POSTGRES_PASSWORD: snapp-pass
      POSTGRES_DB: snappdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:7
    container_name: snapp_redis
    ports:
      - "6379:6379"
    restart: always  

  rabbitmq:
    image: rabbitmq:3-management
    container_name: snapp_rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: always

  minio:
    image: minio/minio
    container_name: snapp_minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    restart: always  

  
 